<div class="container">
  <div class="container">
    <h2 style="float: left">{{country.countryName}}</h2>
    <a class="edit_btn" data-toggle="modal" data-target="#editCountryModal">
      <span class="glyphicon glyphicon-edit"></span>
    </a>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">City Name</th>
      <th>
        <button id="addCityBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCityModal">
          Add City
        </button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let city of cities">
      <td><a href="/city/{{city.idCity}}">{{city.cityName}}</a></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>


<!-- Modal -->
<div class="modal fade" id="addCityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog=centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add City</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="cityNameInput" class="col-form-label">City Name:</label>
        <textarea class="form-control" id="cityNameInput" [(ngModel)]="newCityName"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSubmitAddCity()">Save</button>
      </div>
    </div>
  </div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="editCountryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog=centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Country</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="countryNameInput" class="col-form-label">Country Name:</label>
        <textarea class="form-control" id="countryNameInput" [(ngModel)]="country.countryName"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSubmitEditCountry()">Save</button>
      </div>
    </div>
  </div>
</div>
