<div class="container">
  <div class="container">
    <h2 style="float: left">{{city.cityName}}</h2>
    <a class="edit_btn" data-toggle="modal" data-target="#editCityModal">
      <span class="glyphicon glyphicon-edit"></span>
    </a>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Brewery Name</th>
      <th scope="col">Address</th>
      <th>
        <button id="addBreweryBtn" type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#addBreweryModal">
          Add Brewery
        </button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let brewery of breweries">
      <td><a href="/brewery/{{brewery.idBrewery}}">{{brewery.breweryName}}</a></td>
      <td>{{brewery.address}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="addBreweryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog=centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Brewery</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="breweryNameInput" class="col-form-label">Brewery Name:</label>
        <textarea class="form-control" id="breweryNameInput" [(ngModel)]="newBreweryName"></textarea>
        <label for="breweryAddressInput" class="col-form-label">Brewery Address</label>
        <textarea class="form-control" id="breweryAddressInput" [(ngModel)]="newBreweryAddress"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSubmitAddBrewery()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editCityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog=centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit City</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="cityNameInput" class="col-form-label">City Name:</label>
        <textarea class="form-control" id="cityNameInput" [(ngModel)]="city.cityName"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSubmitEditCity()">Save</button>
      </div>
    </div>
  </div>
</div>

