<div class="container">
  <div class="container">
    <h2 style="float: left">{{brewery.breweryName}}</h2>
    <a class="edit_btn" data-toggle="modal" data-target="#editBreweryModal">
      <span class="glyphicon glyphicon-edit"></span>
    </a>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Beer Name</th>
      <th scope="col">Beer Style</th>
      <th scope="col">Acl/Vol</th>
      <th>
        <button id="addBeerBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBeerModal">
          Add Beer
        </button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let beer of beers">
      <td><a href="/beer/{{beer.idBeer}}">{{beer.beerName}}</a></td>
      <td><a
        href="/beerStyle/{{beer.beerStyleByIdBeerStyle.idBeerStyle}}">{{beer.beerStyleByIdBeerStyle.beerStyleName}}</a>
      </td>
      <td>{{beer.alcVol}}</td>
      <td><a (click)="deleteBeer(beer)">
        <span class="glyphicon glyphicon-remove"></span>
      </a></td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="addBeerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog=centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Beer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="beerNameInput" class="col-form-label">Beer Name:</label>
        <textarea class="form-control" id="beerNameInput" [(ngModel)]="newBeerName"></textarea>
        <label for="selectBeerStyle">Beer style:</label>
        <select id="selectBeerStyle" class="form-control" [(ngModel)]="newBeerStyleId">
          <option>----------</option>
          <option *ngFor="let beerStyle of beerStyles" [value]="beerStyle.idBeerStyle">
            {{beerStyle.beerStyleName}}
          </option>
        </select>
        <label for="alcVolInput" class="col-form-label">Alc/Vol:</label>
        <textarea class="form-control" id="alcVolInput" [(ngModel)]="newAlcVol"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSubmitAddBeer()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editBreweryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog=centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Brewery</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="breweryNameInput" class="col-form-label">Brewery Name:</label>
        <textarea class="form-control" id="breweryNameInput" [(ngModel)]="brewery.breweryName"></textarea>
        <label for="breweryAddressInput" class="col-form-label">Brewery Address:</label>
        <textarea class="form-control" id="breweryAddressInput" [(ngModel)]="brewery.address"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSubmitEditBrewery()">Save</button>
      </div>
    </div>
  </div>
</div>
