<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Beer Name</th>
      <th scope="col">Brewery</th>
      <th scope="col">Acl/Vol</th>
      <th><button id="addBeerBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBeerModal">
        Add Beer</button></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let beer of beers">
      <td><a href="/beer/{{beer.idBeer}}">{{beer.beerName}}</a></td>
      <td>{{beer.breweryByIdBrewery.breweryName}}</td>
      <td>{{beer.alcVol}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
