<div class="container">
  <div class="container">
    <h2 style="float: left">{{taster.fullName}}</h2>
    <a class="edit_btn" data-toggle="modal" data-target="#editTasterModal">
      <span class="glyphicon glyphicon-edit"></span>
    </a>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Beer</th>
      <th scope="col">Date</th>
      <th scope="col">Mark</th>
      <th scope="col">Comment</th>
      <th>
        <button id="addMarkBtn" type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#addMarkModal">
          Add Mark
        </button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let mark of marks">
      <td><a href="/beer/{{mark.beerByIdBeer.idBeer}}">{{mark.beerByIdBeer.beerName}}</a></td>
      <td>{{mark.date}}</td>
      <td>{{mark.mark}}</td>
      <td>{{mark.comment}}</td>
      <td><a (click)="deleteMark(mark)">
        <span class="glyphicon glyphicon-remove"></span>
      </a></td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="addMarkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog=centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Mark</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="selectBeer" class="col-form-label">Beer:</label>
        <select id="selectBeer" class="form-control" [(ngModel)]="newBeerId">
          <option>----------</option>
          <option *ngFor="let beer of beers" [value]="beer.idBeer">
            {{beer.beerName}}
          </option>
        </select>
        <label for="markInput" class="col-form-label">Mark:</label>
        <textarea class="form-control" id="markInput" [(ngModel)]="newMark"></textarea>
        <label for="commentInput" class="col-form-label">Comment:</label>
        <textarea class="form-control" id="commentInput" [(ngModel)]="newComment"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSubmitAddMark()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editTasterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog=centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Taster</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="TasterFirstNameInput" class="col-form-label">First Name:</label>
        <textarea class="form-control" id="TasterFirstNameInput" [(ngModel)]="taster.firstName"></textarea>
        <label for="TasterLastNameInput" class="col-form-label">Last Name:</label>
        <textarea class="form-control" id="TasterLastNameInput" [(ngModel)]="taster.lastName"></textarea>
        <label for="TasterFullNameInput" class="col-form-label">Full Name:</label>
        <textarea class="form-control" id="TasterFullNameInput" [(ngModel)]="taster.fullName"></textarea>
        <label for="TasterPhoneNumberInput" class="col-form-label">First Name:</label>
        <textarea class="form-control" id="TasterPhoneNumberInput" [(ngModel)]="taster.phoneNumber"></textarea>
        <label for="selectGroup">Group:</label>
        <select id="selectGroup" class="form-control" [(ngModel)]="selectedIdGroup">
          <option *ngFor="let group of groups" [value]="group.idGroup">
            {{group.groupName}}
          </option>
        </select>
        <mat-form-field>
          <label for="birthDateInput">Birth Date:</label>
          <input id="birthDateInput" matInput [matDatepicker]="picker" [(ngModel)]="taster.birthDate"
                 (dateInput)="addEventDatPick($event)" (dateChange)="addEventDatPick($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSubmitEditTaster()">Save</button>
      </div>
    </div>
  </div>
</div>
